.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html{
  margin: 0px;
  max-width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}

.careers-background {
  background: url('./pictures/careers.JPG');
  background-size: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.jumbotron {
  min-height: 60vh;
  margin: 0px;
}

.card-grow {
  transition: all 300ms;
}
.card-grow:hover {
  transform: scale(1.02);
  background-color: #E9ECEF;
  color: #436962;
  border: #436962;
  /* border-style: solid; */
  border-width: 2px;
}

.blp-background {
  resize: both;
  width: 100%;
  height: 100%;
  background: url('./pictures/brp.jpg') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.careers-background {
  resize: both;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./pictures/careers2.JPG') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.reviews-background {
  resize: both;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./pictures/reviews.jpeg') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-border.left {
  margin-left:30px;
}

.triangle-border.right {
  margin-right:30px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:40px; /* controls horizontal position */
  border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 15px 30px;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}

.birch-background {
  max-width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./pictures/trees.jpeg') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.career2{
  max-width: inherit;
}

.d-block{
  line-height: 5px;
}

.blank {
  min-height: 56px;
}

.blue-background {
  background-color: #436962;
}

.footer{
  background-color: #626466;
}

.white-text {
  color: white;
}

.footer-text{
  color: white
}

.active-footer-text{
  color: white;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #383838;
  color: white;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.container-fluid::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
.form-row{
  margin-left: 0px;
  margin-right: 0px;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}