.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html{
  margin: 0px;
  max-width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}

.careers-background {
  background: url('./pictures/careers.JPG');
  background-size: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.jumbotron {
  min-height: 60vh;
  margin: 0px;
}

.card-grow {
  transition: all 300ms;
}
.card-grow:hover {
  transform: scale(1.02);
  background-color: #E9ECEF;
  color: #436962;
  border: #436962;
  border-width: 2px;
}

.blp-background {
  width: 100%;
  height: 100%;
  background: url('./pictures/brp.jpg') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.birch-background {
  max-width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./pictures/trees.jpeg') center center no-repeat;
  background-size: 100%;
  color: white;
  margin: 0px;
}

.form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.d-block{
  line-height: 5px;
}

.blank {
  min-height: 56px;
}

.blue-background {
  background-color: #436962;
}

.footer{
  background-color: #626466;
}

.white-text {
  color: white;
}

.footer-text{
  color: white
}

.active-footer-text{
  color: white;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #383838;
  color: white;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.container-fluid::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
.form-row{
  margin-left: 0px;
  margin-right: 0px;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}